.footer {
  position:relative;
  bottom: 0;
  background-color: #c3c0c5;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.text {
  font-size: 16px;
  color: #333;
}