/* AdminLogin.module.css or similar */

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px 25px;
    background-color: #F5F7FA;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
.header  {
    margin-top: -50px;
    font-size: 24px;
  }
  
  .inputField {
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border 0.2s ease-in-out;
  }
  
  .inputField:focus {
    border-color: #1a046b;
    box-shadow: 0 0 5px rgba(26, 4, 107, 0.2);
  }
  
  .loginButton {
    width: 100%;
    color: white;
    background-color: #1F2A44;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #c89600;
    color: white;
  }
  
  .errorMessage {
    margin-top: 12px;
    color: red;
    font-size: 14px;
  }
  